.navbar {
  display:flex;
  justify-content: center;
  align-items: baseline;
  padding: 0 auto;
  border-bottom: 1px solid #e4e6e8;
  border-top: 3px solid purple;
  position: fixed;
  z-index: 1;
  top: -2px;
  background-color: #fafafb;
  width: 100%;
  font-family: Arial;

}
.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

.navbar .logo {

}

.navbar .logo strong {
  font-weight: 600;
}

.navbar .logo:hover {
  background-color: #D3D3D3;
}

.navbar .list-links {
  list-style: none;
  color: #005999;
}

.navbar .list-links li {
  display: inline-block;
  border-radius: 2px;
  border: 1px solid transparent;
}

.navbar .list-links a {
  display: block;
  padding: 5px;
}
