.navbar {
  display:flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #e4e6e8;
  border-top: 3px solid purple;
  position: fixed;
  z-index: 1;
  background-color: #fafafb;
  width: 100%;
  font-family: Arial;
}


.navbar .links {
  margin-left: 10px;
}

.navbar-left, .navbar-right, .navbar-center {
  margin: 0 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo-image {
  padding-right: 10px;
}

.navbar .root-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .root-link strong {
  font-weight: 600;
}

.navbar .logo:hover {
  background-color: #eff0f1;
}

.navbar .list-links {
  display: flex;
  align-items: baseline;
  color: #005999;
  height: auto;
}

.navbar .list-links li {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}

.navbar .links a {
  margin: 0 5px;
}

.navbar {
  word-wrap: normal;
}

.navbar .question-route {
  border-bottom: 3px solid purple;
}
