.navbar {
  display:flex;
  justify-content: space-around;
  align-content: center;
  align-items: baseline;
  border-bottom: 1px solid #e4e6e8;
  border-top: 3px solid purple;
  position: fixed;
  z-index: 1;
  top: -2px;
  background-color: #fafafb;
  width: 100%;
  font-family: Arial;
  height: auto;
}

.navbar-left, .navbar-right, .navbar-center {
  margin: 10px 10px;
}

.navbar-left {
  justify-content: flex-start;
}

.navbar-right {
  justify-content: flex-end;
}

.navbar .logo {

}

.navbar .logo strong {
  font-weight: 600;
}

.navbar .logo:hover {
  background-color: #D3D3D3;
}

.navbar .list-links {
  display: flex;
  align-items: baseline;
  align-content: stretch;
  list-style: none;
  color: #005999;
  height: auto;
}

.navbar .list-links li {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
  text-align: center;
}
