.question-title {
  font-size: 24px;
  border-bottom: 1px solid #e4e6e8;
  padding: 10px;
}

.question-detail {
}

.author-display {
  display: flex;
  justify-content: flex-end;
}

.author-info {
  padding: 10px;
}

.question.author-info {
  background-color: #E0EAF1;
}

.question-show div.header {
  display: flex;
  margin-right: 30%;
  justify-content: flex-end;
}

.question-show button {
  display: inline-block;
}

.question-show {
  margin: 5%;
}
