.question-index-list {
  list-style: none;
}

.question-index-list a {
  margin-left: 0;
  color: #07C;
}

.question-index-list a:hover {
  color: #3af;
}

.question-index-item {
  display: flex;
  border-bottom: 1px solid #e4e6e8;
  padding: 10px;
}

.question-index-item .answer-count {
  text-align: center;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.question-index-item .answered {
  color: #45A163;
  border: 1px solid #45A163;
}

.question-index-item .summary {
  padding-left: 10px;
  width: 100%;
}

.question-index-item .last-update {
  margin-right: 0%;
}

.main-bar > a {
  margin: 5px;
  margin-right: 30%;
}

.main-bar {
  padding-top: 10px;
  height: 700px auto;
  width: 88%;
  margin-left: 3%;
}


.content {
  display: flex;
}

.main-bar .header-text {
  font-family: Arial;
  font-size: 18px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e6e8;
}

.question-index-list .last-update a.last-update-link {
  color: #9199a1;
}

.question-index-list .last-update a.last-update-link:hover {
  color: #07C;
}

div.last-update {
  text-align: right;
}
