.session-div {
  text-align: center;
  padding: 20px;
  height: 750px;
}

.session-div strong {
  font-weight: 600;
}

.session-div .form-tabs {
  display: flex;
  border-bottom: 1px solid gray;
  z-index: 0;
  height: 28px;
}

.session-div .logIn-link{
  padding: 0px 3px 0px 0px;
}

.session-div .signUp-link{
  position: absolute;
  left: 75px;
}

.session-div .selected-form {
  border: 1px solid grey;
  border-bottom: 1px solid white;
  border-top: 3px solid purple;
  float: left;
  z-index: 1;
  left: 75px;
  height: 25px;
}

.session-div form {
  display: block
}

.session-div .unselected-form {
  float:left;
  border-bottom: 0px;
  padding: 3px 3px 0px 3px;
  height: 25px;
}

.session-div .form-tabs .unselected-form:hover {
  background-color: #e4e6e8;
  opacity: .7;
}

.session-div .form-container {
  justify-content: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin: 20px;
}
.session-div .session-form {
  padding: 100px;
  border: 1px solid gray;
}

.session-div .session-form input {
  margin: 5px;
}

.session-div .error-text {
  position: absolute;
  left: 150px;
  bottom: -15px;
  color: white;
  width: 200px;
  display: inline-block;
  background-color: red;
}

.session-div .input-field {
  position: relative;
}
