i.upvote-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
}

i.downvote-arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.selected i.upvote-arrow {
  border: solid orange;
  border-width: 0 3px 3px 0;
}

.selected i.downvote-arrow {
  border: solid orange;
  border-width: 0 3px 3px 0;
}

.vote-component {
  width: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
