/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, section, article,
 h1, h2, p, strong, em, a {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
 }

 html, body {
   height: 100%;
 }

 .clearfix::after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
 }

.blue-button {
  background-color: #0095ff;
  color: white;
  border-radius: 2px;
  border: 1px solid transparent;
  font-weight: 400;
  padding: 5px;
  font-size: 14px;
  border-color: #07c;
  box-shadow: inset 0 1px 0 #66bfff;
  margin: 3px;
}

.blue-button:hover {
  background-color: #07c;
  border-color: #005999;
  box-shadow: inset 0 1px 0 #3af;
  cursor: pointer;
}


.blue-button:focus,
.blue-button:active,
.blue-button.active,
.blue-button:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button:focus,
button:active,
button.active,
button:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div.children {
  padding-top: 80px;
  min-height: 1000px;
}

.footer {
  display: flex;
  align-items: flex-end;
  color: white;
  background-color: black;
  position: relative;
  padding-top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
}


.footer a {
  font-size: 12px;
  font-family: Arial;
  color: #99d4ff;
  padding: 10px 10px;
}

.footer a:hover {
  color: #66bfff;
}

.footer a strong {
  font-weight: bold;
}
