/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, section, article,
 h1, h2, p, strong, em, a, ul {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
   word-wrap: break-word;
 }

 html, body {
   height: 100%;
 }

 .clearfix::after {
    content: " ";
    display: block;
    clear: both;
 }

.blue-button {
  background-color: #0095ff;
  color: white;
  border-radius: 2px;
  border: 1px solid transparent;
  font-weight: 400;
  padding: 5px;
  font-size: 14px;
  border-color: #07c;
  box-shadow: inset 0 1px 0 #66bfff;
  margin: 3px;
}

.blue-button:hover {
  background-color: #07c;
  border-color: #005999;
  box-shadow: inset 0 1px 0 #3af;
  cursor: pointer;
}


.blue-button:focus,
.blue-button:active,
.blue-button.active,
.blue-button:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button:focus,
button:active,
button.active,
button:focus:active {
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div.children {
  padding-top: 80px;
  min-height: 1000px;
}

.footer {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: black;
  position: relative;
  padding: 20px 0;
  margin-top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
}


.footer a {
  font-size: 12px;
  font-family: Arial;
  color: #99d4ff;
  padding: 10px 10px;
}

.footer a:hover {
  color: #66bfff;
}

.footer a strong {
  font-weight: bold;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    top: 50%;
    right: 50%;
    background-color: white;
    z-index: 5;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.guest-greeting {
  padding: 20px;
  text-align: center;
  background: #f9fbfd;
  border: 3px solid #cceaff;
  color: #464e55;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Arial;
  line-height: 150%;
}


.guest-greeting inner {
  margin-top: 10px;
  font-size: 24px;
}

.guest-greeting a {
  color: #07C;
}

.guest-greeting a:hover {
  color: #3af;
}
